/* Panneles colors */

#portfolio {
background-color: #34495e;
}
#profile {
    background-color: #7bb4d1;
a{color:#a3c9dc;}

}
#development{
   background-color:  bdd84d;
}
#interactionDesign {
background-color: #fd6a62;
}
#interfaceDesign {
background-color: #0ac2d2;
}
#printDesign {
background-color: #fdc162;
}
#cv {
background-color: #60d7a9;
}

#development,
#portfolio {
background-color: #34495e;
}