/* Panneles colors */

#portfolio {
background-color: #34495e;
}
#profile {
    background-color: #7bb4d1;
background: url(../images/bgd.png) no-repeat right bottom #86b4ce;
padding-bottom:0;
}
#profile_desc{
  max-width: 800px;
  min-height: 900px;
  padding-bottom:20px;
}
#development{
   background-color:  #81A8B8;
   font-size:1.1em;
   font-weight: 300;
   em{
    color:#F2F26F;
   }
}
#interactionDesign {
background-color: #fd6a62;
}
#interfaceDesign {
background-color: #0ac2d2;
}
#printDesign {
background-color: #fdc162;
}
#cv {
background-color: #68B3AF;
}
$timelineborderactive: #D3E2B6;
$timelineborder:#87BDB1;
#cv {
background-color: #95CFB7;
}
$timelineborderactive: #FF823A;
$timelineborder:#F2F26F;

#portfolio {
background-color: #34495e;
}