
/* Timeline */

.timeline {
  position: relative;
  list-style-type: none;
  padding: 30px 0 50px 0;
  font-weight: 600;
  h4{
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 10px 0;
  }
}

.timeline:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 165px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/gYARWQwkAOLDBeECjEAAkkEWAKtEFwAJAgAZEBP+oM1IkwAAAABJRU5ErkJggg==);
}

.event {
  position: relative;
  margin-bottom: 80px;
  padding-right: 40px;
}

.thumb {
  position: absolute;
  width: 100px;
  height: 100px;
  box-shadow: 
    0 0 0 8px $timelineborder, 
    0 1px 1px rgba(255,255,255,0.5);
  background-repeat: no-repeat;
  border-radius: 50%;
    background-size: 100% !important;
}

.thumb:before {
  content: '';
  position: absolute;
  height: 8px;
  z-index: -1;
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPElEQVQYV2NkQAP/gYARCNDFUQRgirAphitEl0TngxXisg5ZnBGXIpgbYfIYjkb3BNxGbBLYxIgyEaQRAA8KKAWYsZtjAAAAAElFTkSuQmCC);
  width: 51px;
  top: 42px;
  left: 100%;
  margin-left: 8px;
}

.thumb span {
  color: $timelineborder; 
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  bottom: -40px;
}

.th-soap {
  background-image: url(../images/soap.png);
}

.th-ninemsn {
  background-image: url(../images/ninemsn.png);
}

.th-rideau {
  background-image: url(../images/rideau.png);
}

.th-supinfo {
  background-image: url(../images/supinfo.png);
}

.th-thales {
  background-image: url(../images/thales.png);
}

.th-orange {
  background-image: url(../images/orange.png);
}

.th-inna {
  background-image: url(../images/inna.png);
}

.th-coq {
  background-image: url(../images/coq.png);
}

.th-sytweb {
  background-image: url(../images/sytweb.png);
}

.th-pablo {
  background-image: url(../images/pablo.jpg);
}

.th-epsi {
  background-image: url(../images/epsi.png);
}

.th-santjo {
  background-image: url(../images/saintjo.png);
}

.content-perspective ul {
list-style-type: disc;
line-height: 29px;
list-style-position: inside;
}

/* Transparent Checkbox/radio hack: leave the checkbox on top, hide it with opacity 0 */

.event label,
.event input[type="radio"] {
  width: 24px;
  height: 24px;
  left: 158px;
  top: 36px;
  position: absolute;
  display: block;
}

.event input[type="radio"] {
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.event label:after {
  font-family: 'fontawesome-selected';
  content: '\e702';
  background: #fff;
  border-radius: 50%;
  color: transparent;
  font-size: 26px;
  height: 100%;
  width: 100%;
  left: -2px;
  top: -3px;
  line-height: 24px;
  position: absolute;
  text-align: center;
}

.content-perspective {
  margin-left: 230px;
  position: relative;
}

.content-perspective:before {
  content: '';
  width: 37px;
  left: -51px;
  top: 45px;
  position: absolute;
  height: 1px;
  z-index: -1;
  background: #fff;
}

.content-inner {
  position: relative;
  padding: 20px;
  color: #333;
  border: none;
  border-left: 5px solid $timelineborder;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background: #fff;
}

.content-inner h3 {
  font-size: 26px;
  padding: 5px 0 5px 0;
  color: $timelineborder;
}

.content-inner p {
  font-size: 18px;
  max-height: 0px;
  overflow: hidden;
  color: transparent;
  color: rgba(0,0,0,0);
  text-align: left;
}

.content-inner:before {
  font-family: 'fontawesome-selected';
  content: '\25c2';
  font-weight: normal;
  font-size: 54px;
  line-height: 54px;
  position: absolute;
  width: 17px;
  height: 53px;
  color: #87bdb1;
  left: -22px;
  top: 19px;
  z-index: 2;
  overflow: hidden;
}

/* Checked */

.event input[type="radio"]:checked + label:after {
  content: '\2714';
  color: $timelineborderactive;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
}

.event input[type="radio"]:checked ~ .content-perspective:before {
  background: $timelineborderactive;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner h3 {
  color: $timelineborderactive;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner {
  border-color: $timelineborderactive;
  box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.1);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner p {
  max-height: 260px; /* Add media queries */
  color: rgba(0,0,0,0.6);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner:before {
  color: $timelineborderactive;
}

.event input[type="radio"]:checked ~ .thumb {
  box-shadow: 
    0 0 0 8px $timelineborderactive, 
    0 1px 1px rgba(255,255,255,0.5);
}

.event input[type="radio"]:checked ~ .thumb span {
  color: $timelineborderactive;
}

.event input[type="radio"]:checked ~ .thumb:before {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAOfUjX+882+wYgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQBbNyaHFmzEqgAAAABJRU5ErkJggg==);
}

.content-inner p,
.thumb span,
.event label {
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 850px) { 
  .content-inner h3 {
    font-size: 20px;
  }

  .content-inner p {
    font-size: 14px;
    text-align: justify;
  }

  .event input[type="radio"]:checked ~ .content-perspective .content-inner p {
    max-height: 500px; 
  }
}

@media screen and (max-width: 540px) {
  .timeline::before {
    left: 50px;
  }
  .content-inner:before {
    display: none;
  }

  .event { 
    padding-right: 0px;
    margin-bottom: 100px;
  }

  .event input[type="radio"] {
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
  }

  .thumb:before,
  .event input[type="radio"]:checked ~ .thumb:before {
    background: none;
    width: 0;
  }

  .event label {
    display: none;
  }

  .content-perspective {
    margin-left: 0px; 
    top: 80px;
  }

  .content-perspective:before {
    height: 0px; 
  }

  .content-inner {
    border-left: none;
    border-top: 5px solid $timelineborder;
  }

  .event input[type="radio"]:checked ~ .content-perspective .content-inner {
    border-color: $timelineborderactive;
    box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.1);
  }

  .content-inner:before {
    content: '\25b4';
    left: 33px;
    top: -32px;
  }

  .event input[type="radio"]:checked ~ .content-perspective .content-inner p {
    max-height: 300px; 
  }
}


