@import "compass/css3/border-radius";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300);
@import "intro";
@import "page";
@import "hover";
@import "photograph";
@import "profile";
@import "nav";
@import "dropdown";
@import "timeline";
@import "transitions";
@import "icone";
@import "graph";

html,
body {
  height: 100%;
  margin: 0;
}

body{
  color: white;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 100;
  background: radial-gradient(#fff, #bbb);
}

body, ol, ul, li {
  border: 0;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.462em;
  font-weight: normal;
  color:black;
  margin: 0 20px;
  font-weight: 300;
}
h2{
  line-height: 1.2em;
  font-size: 3.2em;
  font-weight: 300;
}
h3{
    text-transform: capitalize;
    a{
      float: right;
      color: #fff;
      text-transform: none;
    }
}

ul{
  list-style-type: none;
  line-height: 29px;
}
p {
    line-height: 1.3em;
    font-size: 1.1em;
    max-width: 680px;
}

.espace{
  padding-top:10px;
  padding-bottom:10px;
}

em{
  color:#D14836;
  font-style: normal;
  font-weight: 300;
}

time{
  color:#9C9C9C;
  font-size:small;
}

#main{
    overflow:hidden;
}
img{
    max-width:100%;
}

.linklist{

    list-style-type: none;
    position: absolute;
    top: 137px;
    right: 59px;
    line-height: 12px;

    li {
      height: 15px;
      float: left;
      margin-right: 0px;
      border-right: 1px solid #fff;
      padding: 0 20px;
    }
     
    li:last-child {
      border-right: none;
    }
     
    li a {
      text-decoration: none;
      color: white;
    }
     
    li a:hover {
      color: #333;
    }
     
    li.active a {
      font-weight: bold;
      color: #333;
    }
}


/*---------------------Center column-------------*/

#center_col{
  overflow:hidden;
}
.wrapper{
 padding: 60px 80px;
}

@media screen and (max-width: 530px) { 
    .wrapper{
        padding: 60px 15px;
    }
}

.paper {
  p{
    background: #fff;
    padding: 26px;
    color:#000;
    border-left: 2px solid #f68dbb;
    box-shadow:10px 0px 10px -6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }
}
#deviceContainer {
max-width: 726px;
margin: 0 auto;
}


.devices{
  height: 246px;
  margin: 50px auto 20px auto;
  &.anim{
    .notebook{
      animation-name: bounceInDown;
    }
    .ipad{
      animation-name: bounceInLeft;
    }
    .iphone{
      animation-name: bounceInRight;
    }
  }
}

/* MACBOOK */
.notebook{
  float: left;
  animation-duration:1s;
  margin-left:34px;
}
.notebook .screen:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #a5adbd;
  height: 4px;
  width: 4px;
  margin: 5px 0 0 138px;
}
.notebook .screen{
  background: #fcfcfc;
  border-radius: 15px 15px 0 0;
  height: 185px;
  width: 280px;
  margin: 0 auto;
}
.notebook .screen:after{
  content: "";
  position: absolute;
  background: #39303d;
  height: 160px;
  width: 254px;
  border-radius: 2px;
  margin: 14px 0 0 13px;
  transition: background 1s ease-in-out;
}
.notebook .screen:hover:after{
  background: #222;
}
.notebook .keyboard {
  background: #f4f5f7;
  border-radius: 5px 5px 25px 25px;
  height: 8px;
  width: 350px;
  margin: 0 auto;
}
.notebook .keyboard:after {
  content: "";
  position: absolute;
  background: #d8dbe1;
  height: 4px;
  width: 50px;
  margin: 0px 0px 0px 150px;
  border-radius: 0 0 8px 8px;
}
.keyboard:before {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.2);
  height: 8px;
  width: 370px;
  margin: 7px 0px 0px -10px;
  z-index: -1;
  border-radius: 100%;
}
/* IPAD */
.ipad{
  background: #fcfcfc;
  border-radius: 10px;
  height: 150px;
  width: 120px;
  margin: 20px 60px 0px 0px;
  float: left;
  animation-duration:1s;
}
.ipad:before {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.2);
  height: 8px;
  width: 140px;
  margin: 147px 0px 0px -10px;
  z-index: -1;
  border-radius: 100%;
}
.ipad .screen{
  margin: 12px 0px 0px 10px;
  background: #39303D;
  border-radius: 2px;
  height: 126px;
  width: 100px;
}
.ipad .screen:hover{
  transition: background 1s linear;
  background: #222;
}
.ipad .screen:before {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.2);
  height: 4px;
  width: 4px;
  margin: -8px 0px 0px 48px;
  border-radius: 50%;
  z-index: 1
}
.ipad .screen:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 129px 0px 0px 47px;
  border-radius: 1px;
  z-index: 1
}
/* IPHONE */
.iphone{
  margin: 40px 0 0 100px;
  background: #fcfcfc;
  border-radius: 10px;
  height: 110px;
  width: 62px;
  float: left;
  animation-duration:1s;
}
.iphone:before {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.2);
  height: 8px;
  width: 70px;
  margin: 106px 0px 0px -4px;
  z-index: -1;
  border-radius: 100%;
}
.iphone .screen{
  margin: 13px 0px 0px 4px;
  background: #39303D;
  border-radius: 2px;
  height: 84px;
  width: 54px;
}
.iphone .screen:hover{
  transition: background 1s ease-in-out;
  background: #222;
}
.iphone .screen:before {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.2);
  height: 3px;
  width: 10px;
  margin: -7px 0px 0px 23px;
  z-index: -1;
  border-radius: 3px;
  z-index: 1
}
.iphone .screen:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 87px 0px 0px 24px;
  z-index: -1;
  border-radius: 1px;
  z-index: 1
}
